header {
    background-color: #C7FF5D;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 10px 20px 10px;
}

nav {
    background-color: #C3EA75;
    padding: 20px 10px 20px 10px;
}

.quadro {
    display: flex;
    justify-content: center;
    min-height: 1500px;
    gap: 10px;
    padding: 10px;
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: aqua;
    min-width: 500px;
}

p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-tarefa {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
}

.descricao-tarefa {
    font-size: 17px;
    padding: 5px 10px 5px 10px;
    margin: 0px;
}

.prioridade {
    font-size: 17px;
}

.item {
    background-color: aliceblue;
    border-radius: 15px;
}

.tag {
    background-color: #62FF0D;
    flex-direction: column;
    border-radius: 10px;
    width: 150px;
}

#modal-criar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal-criar .box {
    background-color: #F5F5F5;
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

#modal-criar .box .titulo-nova-tarefa {
    padding: 10px 20px;
}

#modal-criar .box .descricao-nova-tarefa {
    padding: 10px 20px;
}

#modal-criar .box #descricao {
    margin-left: 20px;
}

#modal-criar .box .prioridade-nova-tarefa {
    padding: 10px 20px;
}

#modal-criar .box .prazo-nova-tarefa {
    padding: 10px 20px;
}

#modal-criar .box .responsaveis-nova-tarefa {
    padding: 10px 20px;
}

#modal-criar .box #responsaveis {
    margin-left: 20px;
}

.btnModal {
    margin-left: 340px;
}

#modal-criar .box button {
    background-color: blue;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 8px;
}

#modal-criar .box button:hover {
    background-color: rgb(43, 43, 243);
}

#modal-criar .box .input-data {
    margin-bottom: 5px;
    width: 175px;
}

.input-prioridade {
    margin-bottom: 5px;
}

input {
    border: none;
}

#modal-criar .box textarea {
    border: none;
    width: 240px;
}

#modal-criar .box select {
    border: none;
    width: 145px;
}

#editar {
    background-color: #F0F8FF;
    border: none;
    margin-top: 38px;
    margin-bottom: 32px;
    margin-left: 250px;
    font-size: 32px;
}

#excluir {
    background-color: #F0F8FF;
    border: none;
    margin-top: 38px;
    margin-bottom: 32px;
    font-size: 32px;
}

.card-header {
    display: flex;
    align-items: flex-start;
}